.stretch-fill-image {
  width: 100%; /* La largeur de l'image occupera 100% de la largeur du conteneur */
  height: 100%; /* La hauteur de l'image occupera 100% de la hauteur du conteneur */
  object-fit: cover; /* Ajustement de l'image pour remplir le conteneur en conservant son rapport d'aspect */
}
.card {
  display: flex; /* Utilisez un affichage flex pour centrer le contenu */
  align-items: center; /* Centrez le contenu verticalement */
  justify-content: center; /* Centrez le contenu horizontalement */
}
.center-content {
  text-align: center; /* Centrez le texte horizontalement (si nécessaire) */
}
.alphabetical-pager {
  display: flex; /* Utilisez flexbox pour aligner les éléments au milieu */
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center;
  flex-wrap: wrap;
  gap: 8px; /* Espacement entre les boutons */
  margin: auto;
}

button {
  text-transform: uppercase; /* Convertir le texte en majuscules */
  font-weight: bold;
  font-size: 32px;
}
.page-title {
    padding:20px;
  text-transform: uppercase; /* Convertir le texte en majuscules */
  font-weight: bold;
  font-size: 64px;
}
