<mat-card>
  <mat-card-title>Liste de Plateforme</mat-card-title>
  <mat-card-content>
    <mat-card-content>
      <mat-grid-list cols="3" gutterSize="16px">
        <!--cols="1" [cols.sm]="2" [cols.md]="3" [cols.lg]="4" [cols.xl]="5"-->
        <div class="alphabetical-pager">
          <button mat-button *ngFor="let letter of pager.body" (click)="onLetterClick(letter.Letter)">{{ letter.Letter }}</button>
        </div>
        <mat-grid-tile *ngFor="let item of plateformes">
          <a [routerLink]="'/plateformedetail/'+item.Id">
            <mat-card class="card">
              <img mat-card-image [src]="item.Fanart | imglink" alt="Item Image" class="stretch-fill-image" />
              <mat-card-content class="center-content">
                <p>{{ item.Name }}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card-content>
</mat-card>
