<mat-toolbar color="primary">
  <a mat-button class="example-icon" routerLink="/home">
    <span>GameZilla</span>
    <mat-icon>home</mat-icon>
  </a>
  <a mat-button class="example-icon example-spacer" routerLink="/plateformelist">
    <span>Plateformes</span>
  </a>
  <a mat-button class="example-icon example-spacer" routerLink="/execlist">
    <span>Executables</span>
  </a>
  <a mat-button class="example-icon example-spacer" routerLink="/nonexeclist">
    <span>NonExecutables</span>
  </a>
  <a mat-button class="example-icon example-spacer" routerLink="/settings">
    <span>Settings</span>
  </a>
</mat-toolbar>
