<div class="google-home">
  <div class="google-logo">
    <img src="assets/logo2.png" alt="Logo" style="width: auto; height: 500px" />
  </div>
  <div class="text_title">
    Gamezilla
  </div>
  <hr>
  <mat-form-field class="search-field">
    <input matInput placeholder="Recherche Gamezilla" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="buttons-container">
    <!--<button mat-button>Plateforme</button>
  <button mat-button>Executable</button>
  <button mat-button>Non Executables</button>
  <button mat-button>Paramètres</button>-->
    <a mat-button class="example-icon" routerLink="/plateformelist">
      <span>Plateformes</span>
    </a>
    <a mat-button class="example-icon" routerLink="/execlist">
      <span>Executables</span>
    </a>
    <a mat-button class="example-icon" routerLink="/nonexeclist">
      <span>NonExecutables</span>
    </a>
    <a mat-button class="example-icon" routerLink="/settings">
      <span>Settings</span>
    </a>
  </div>
</div>
