<div class="google-home">
  <div class="google-logo">
    <img src="assets/logo.png" alt="Logo" style="width: auto; height: 500px;" />
  </div>
  <mat-form-field class="search-field">
    <input matInput placeholder="Recherche Gamezilla" />
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="buttons-container">
    <button mat-button>Plateforme</button>
    <button mat-button>Executable</button>
    <button mat-button>Non Executables</button>
    <button mat-button>Paramètres</button>
  </div>
</div>
