
<mat-card>
  <mat-card-title class="page-title">Réorganiser la liste des Plateformes</mat-card-title>
  <mat-card-content>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let plateforme of plateformes" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        {{plateforme.ShowOrder}} - {{plateforme.Name}}
        <img *cdkDragPreview [src]="plateforme.Fanart | imglink" [alt]="plateforme.Name" style="width:400px;height:225px;">
      </div>
    </div>
    <button mat-button color="primary" class="example-icon" (click)="onSubmit()">
      <span>Sauvegarder les changements</span>
    </button>
  </mat-card-content>
</mat-card>

